#minaSidorButton, #checkoutButton, #helpButton, #hemButton {
    -fx-background-color:transparent;
    -fx-display: inline-block;
    -fx-cursor:pointer;
    -fx-color:#ffffff;
    -fx-font-size:15px;
    -fx-text-decoration:none;
}

#skapaKontoBtn, #orderBtn {
    -fx-background-color:#3399ff;
    -fx-display: inline-block;
    -fx-cursor:pointer;
    -fx-color:#ffffff;
    -fx-font-size:15px;
    -fx-text-decoration:none;
}

#minaSidorButton:hover, #checkoutButton:hover, #helpButton:hover, #hemButton:hover, #skapaKontoBtn:hover, #orderBtn:hover  {
    -fx-background-color: #3366ff;
}

/* Add some cooler effect  */

#minaSidorButton:pressed, #checkoutButton:pressed, #helpButton:pressed, #hemButton:pressed, #skapaKontoBtn:pressed, #orderBtn:pressed{
    -fx-background-color: #0000ff;
}

#productItem {
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: white;
}

#background {
    -fx-background-color: #f5f5f5;
}

 #categoryScroll, #scrollItemView {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #3399ff;
    -fx-border-width: 3px;
    -fx-background-radius: 5px;
}

#paneTop, #paneMatvaror, #minaSidorInfoPane, #minaSidorHistorikPane {
    -fx-background-color: #3399ff;
    -fx-border-color: #3399ff;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#reaButton {
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-background-color: #3399ff;
    -fx-font-size: 18px;
}

#minaSidortxt, #historiktxt {
    -fx-text-fill: white;
    -fx-font-size: 28px;
}

#reaButton:hover {
    -fx-border-color: #3399ff;
    -fx-text-fill: #3399ff;
    -fx-background-color: white;
}

#bbb0:focused, #bbb1:focused, #bbb2:focused, #bbb3:focused, #bbb4:focused, #bbb5:focused, #bbb6:focused, #bbb7:focused, #bbb8:focused, #bbb9:focused,#bbb10:focused,
#bbb0:hover, #bbb1:hover, #bbb2:hover, #bbb3:hover, #bbb4:hover, #bbb5:hover, #bbb6:hover, #bbb7:hover, #bbb8:hover, #bbb9:hover, #bbb10:hover{
    -fx-text-fill: white;
    -fx-background-color: #3399ff;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#bbb0, #bbb1, #bbb2, #bbb3, #bbb4, #bbb5, #bbb6, #bbb7, #bbb8, #bbb9, #bbb10{
    -fx-text-fill: #3399ff;
    -fx-background-color: inherit;
    -fx-border-color: #3399ff;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#categoryBannerLabel {
    -fx-text-fill: black;
}

#favoriteImage {
    -fx-graphic: url("resources/starUnfilled.png");
}

/* Fungerar ej*/
#favoriteImage:hover {
    -fx-graphic: url("resources/starUnfilledHover.png");
}

#helpButton, #minaSidorButton {
    -fx-font-size: 15px;
}

#subtractProduct {
    -fx-graphic: url("resources/removeProduct.png");
}

#subtractProduct:hover {
    -fx-graphic: url("resources/removeProductHover.png");
}

#addProductButton {
    -fx-graphic: url("resources/addProduct.png");
}

#addProductButton:hover {
    -fx-graphic: url("resources/addProductHover.png");
}
